*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(246, 247, 232);
}
.encabezado{
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    height: 400px;
    background-image: url(imagenes/design1_image2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-size: 4.5em;
    text-align: left;
    font-style: oblique;
    margin-left: 80px;
    margin-top: 20px;

}
.imagen-logo-superior{
    display: inline-block;
    width: 130px;
    height: 130px;
    position: absolute;
    right: 300px;
    top: 10px;
    background-color: transparent;
    
}
.imagen-logo{
    display: inline-block;
    width: 130px;
    height: 130px;
    position: absolute;
    right: 80px;
    top: 330px;
    border: solid 1px black;
    background-color: white;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: transparent;
    
}
.btn-a {
    font-size: 1.5em;
    padding: 10px 30px;
    margin-top: 5px;
    margin-left: 10px;
    height: 44px;
    width: 130px;
    background-color: rgb(37, 37, 243);
    margin-bottom: 15px;
    color: white;
    text-decoration: none;
    border-radius: 5%;
    box-shadow: 4px 4px rgb(61, 61, 144);
}
.btn-actual{
    background-color: green;
    color: black;
}
h2{
    font-size: 2.5em;
    text-decoration: underline;
    text-align: left;
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 15px;
} 
.seccion-principal{
    min-height: 400px;
    width: 1300px;
    display: inline-block;
    
}
h3{
    font-size: 1.75em;
    font-style: italic;
    margin-left: 120px;

}
p{
    font-size: 1.2em;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: 120px;
    background-color: transparent;
}
article{
    font-size: 1.2em;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: 120px;
    text-indent: 20px;
}
.seccion-footer{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:rgb(37, 37, 243);
    height: 80px;
    color: white;
    margin-left: 80px;
    margin-right: 80px;

}
